<div class="row well">

  <%= render "manager/shared/navigation" %>

  <div class="col-md-9">
    <div class="well">
      <%= link_to '<span class="glyphicon glyphicon-plus-sign"></span> Add new loan scheme'.html_safe, new_manager_loan_path, { class: "btn btn-primary" } %>
    </div>
  </div>
</div>
