<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>

  <%= link_to "Cameloan", root_path, :class => 'navbar-brand' %>
</div>

<div class="collapse navbar-collapse navbar-ex1-collpase">
  <ul class="nav navbar-nav navbar-right">
    <li><%= button_to "I AM MANAGER", admin_home_welcome_path, method: :get, class: "btn btn-default navbar-btn" %></li>
  </ul>
</div>
